body{
    margin-top:70px;
    background-color:#37c5db;
    color: white;
}

h1{
    color:black;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

div{
    text-align: center;
}

a{
    color: black;
    font-size: 30px;
    transition-duration: 0.5s;
    border-radius: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: sans-serif;
    box-shadow: 5px  5px 25px rgba(0, 0, 0, 0.2);
}

a:hover{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

a:active{
    background-color: #00bcff;
}

#card_calc{
    background-color: #37c5db;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

#calculator{
    height: 120%;
    width: 100%;
    display: block;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

table{
    height: 100%;
    width: 100%;
}

#display{
    height: 60%;
    width: 90%;
    background-color: #002633;
    border-color: #00bcff;
    color: white;
    padding: 5%;
}

.btn_number{
    background-color: #37c5db;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

.btn_number:hover{
    background-color: #0091c4;
}

.btn_number:active{
    background-color: #00bcff; 
}

.btn_calc{
    height: 100%;
    width: 100%;
    border-style: none;
}

.operator{
    background-color: #37c5db;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

.operator:hover{
    background-color: #00bcff;
}

.operator:active{
    background-color: #0091c4
}

.btn_equals{
    background-color: #37c5db;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

.btn_equals:hover{
    background-color: #0091c4;
}

.btn_equals:active{
    background-color: #00bcff;
}

#clear{
    background-color: #cf7067;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

#clear:hover{
    background-color: #c7392c;
}

#clear:active{
    background-color: #cf7067;
}

.display_td{
    height: 25%;
}

.btn_td{
    height: 15%;
}

.form_a{
    transition-duration: 0.2s;
    border: none;
}

.form_a:focus{
    border-bottom: 3px solid #00bcff;
}