body{
    background-color:#37c5db;
    color: white;
}

h1{
    color:black;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

div{
    text-align: center;
}

a{
    background-color: white;
    color: black;
    border-left-style: solid;
    font-size: 15px;
    transition-duration: 0.5s;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #002633;
}

.topnav a {
    width: 33%;
    float: left;
    background-color: #0091c4;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #002633;
    padding-left: 25px;
    color: white;
    text-decoration: none;
}

#card_calc{
    background-color: #37c5db;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

#calculator{
    height: 120%;
    width: 100%;
    display: block;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

table{
    height: 100%;
    width: 100%;
}

#display{
    height: 60%;
    width: 90%;
    background-color: #002633;
    border-color: #00bcff;
    color: white;
    padding: 5%;
}

.btn_number{
    background-color: #37c5db;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

.btn_number:hover{
    background-color: #0091c4;
}

.btn_number:active{
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.05),
                0px  0px 0px rgba(0, 0, 0, 0.2);
}

.btn_calc{
    height: 100%;
    width: 100%;
    border-style: none;
}

.operator{
    background-color: #37c5db;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

.operator:hover{
    background-color: #0091c4;
}

.operator:active{
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.05),
                0px  0px 0px rgba(0, 0, 0, 0.2);

}

.btn_equals{
    background-color: #37c5db;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

.btn_equals:hover{
    background-color: #0091c4;
}

.btn_equals:active{
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.05),
                0px  0px 0px rgba(0, 0, 0, 0.2);
}

#clear{
    background-color: #cf7067;
    transition-duration: 0.5s;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
                 5px  5px 25px rgba(0, 0, 0, 0.2);
}

#clear:hover{
    background-color: #c7392c;
}

#clear:active{
    background-color: #cf7067;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.05),
                0px  0px 0px rgba(0, 0, 0, 0.2);
}

.display_td{
    height: 25%;
}

.btn_td{
    height: 15%;
}

.form_a{
    border: none;
}